html {
    font-family: Lato, sans-serif;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
  }

  .main {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main__title {
    color: black;
    font-weight: bold;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: #f3f6f6;
    margin-bottom: 10px;
  }

  .form__submit {
    background-color: #3cd0ff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

  .form__dropdown {
    background-color: #3cd0ff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }